body {
    margin: 0;
    padding: 0;
}
  
canvas {
    width: 100%;
    height: 100%;
}
  
.hide {
    display: none;
}
  
.controller {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
    padding: 10px;
}
.controller ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.controller ul li {
    margin: 5px 0 8px;
}
.controller ul button {
    display: block;
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(121, 121, 121);
    color: #fff;
    cursor: pointer;
}

.controller ul button:hover {
    background: rgb(81, 80, 80);
}

.controller .active {
    background: black;
    color: #fff;
}
  
#btn_run_algorithm {
    display: block;
    margin-top: 15px;
    background: #f44336;
    border-radius: 10px;
    border-color: transparent;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
  
#notification {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    text-align: center;
    color: #fff;
    padding: 6px 25px 5px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
label {
    display: block;
    font-size: 0.9rem;
}
  
input[type=range] {
    width: 100%;
}

.animation-slider {
    margin: 0;
    width: 100%;
}
  
.animation-slider-range {
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
    appearance: none;
}
.animation-slider-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

.animation-slider-range:hover {
    background: #1abc9c;
}
.animation-slider-range:active {
    background: #1abc9c;
}
.select {
    position: relative;
    min-width: 200px;
}

select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}